.profile{
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1200px;
  display: flex;
}

.edit-profile{
  min-height: 640px;
  width: 575px;
}
.preferences{
  min-height: 640px;
  max-width: 575px;
}

.edit-profile h1, .preferences h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 32px;
}

#profile-form .profile-header {
  width: 248px;
  display: flex;
  align-items: center;
  gap: 24px;
}

#profile-form .profile-header .avatar {
  border-radius: 50%;
  object-fit: cover;
}

#profile-form .profile-info h3 {
  margin: 0 0 8px 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}

#profile-form .change-photo {
  background: none;
  border: none;
  color: var(--gray-100);
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

#profile-form .change-photo:hover {
  color: var(--text-color);
}

#profile-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#profile-form .form-group {
  width: 327px;
  display: flex;
  flex-direction: column;
}

#profile-form .form-group label {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

#profile-form .form-group input,
#profile-form .form-group textarea {
  background-color: var(--gray-800) !important;
}

#profile-form .form-group textarea{
  width: 575px;
  height: 110px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-800);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--slider-circle);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.theme-toggle{
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .profile{
    flex-direction: column-reverse;
    width: 100%;
  }
  .edit-profile{
    width: 100%;
  }
  .profile > div{
    min-height: auto;
    width: auto;
  }
  #profile-form .form-group{
    min-width: 80%;
  }
  #profile-form .form-group textarea{
    width: 100%;
  }
}