.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--gray-700), 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.form-container {
  background: var(--gray-900);
  border: 1px solid var(--gray-400);
  padding: 24px;
  width: 800px;
  min-height: 478px;
  color: var(--text-color);
  font-family: inherit;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-header h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.close-form-button {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.2s;
}

.close-form-button:hover {
  color: var(--error);
}

.form-group label {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color);
  margin: 12px 0;
}

#postTitle {
  width: 327px;
  height: 48px;
}

#description {
  width: 752px;
  height: 58px;
  resize: none;
}

.upload-area {
  width: 752px;
  height: 84px;
  border: 2px dashed var(--gray-400);
  padding: 16px 24px 16px 32px;
  text-align: left;
  cursor: pointer;
  margin-top: 16px;
  position: relative;
  transition: border-color 0.2s;
  display: flex;
  align-items: center;
  gap: 24px;
}

.upload-area>svg {
  width: 36px;
  height: 36px;
}

.upload-area:hover {
  border: 2px solid var(--gray-400);
}

.upload-content {
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  font-size: 14px;
  font-weight: 400;
}

.upload-content p {
  color: var(--text-color);
  margin: 0;
}

.upload-content .file-types {
  color: var(--gray-100);
  margin: 0;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.create-btn {
  width: 144px;
  height: 44px;
  background: var(--accent);
  color: var(--text-color);
  border: none;
  padding: 12px 24px;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.create-btn:hover {
  background-color: var(--btn-hover);
  transition: 0.2s ease-in;
}

.create-post-container {
  display: flex;
  justify-content: flex-end;
}


@media (max-width: 768px) {
  .form-header h2 {
    font-size: 16px;
    font-weight: 400;
  }

  .form-header .close-form-button {
    font-size: 24px;
  }

  .blur {
    padding: 0 12px;
  }

  .form-container {
    max-width: 100%;
  }

  #add-post .form-group input,
  #add-post .form-group textarea,
  #add-post .upload-area {
    max-width: 100%;
  }

  .upload-area {
    padding: 8px 12px 8px 16px;
    gap: 12px;
    height: auto;
  }

  .upload-content {
    font-size: 12px;
    align-self: center;
    line-height: 2;
    height: auto;
  }

  .upload-area>svg {
    width: 27px;
    height: 27px;
  }
}