.user-info-pages {
  display: flex;
  flex-direction: column;
  align-self: start;
  padding: 0 24px;
}

.page-switch {
  min-width: 200px;
  height: 40px;
  margin: 20px auto;
  padding: 4px;
  background-color: var(--gray-900);
  display: flex;
  gap: 8px;
}

.page-switch button{
  background-color: var(--gray-900);
  border: none;
  outline: none;
  font-family: inherit;
  min-width: 96px;
  height: 32px;
  color: var(--text-color);
  cursor: pointer;
}

.page-switch button:focus{
  outline: none;
}

.page-switch .active {
  background-color: var(--accent);
}
