.statsTable {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    gap: 24px;
}

.statsTable .stat {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.stat h3 {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

table {
    display: block;
    padding: 24px;
    width: 100%;
    border-collapse: collapse;
    background-color: var(--gray-900);
    color: var(--text-color);
    font-family: inherit;
    font-size: 16px;
    overflow: hidden;
}


thead tr{
    color: var(--gray-100);
    font-size: 16px;
    font-weight: 600;
    border: none;
}

tr {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-color);
    cursor: context-menu;
    border-top: 1px solid var(--gray-400);
    height: 48px;
}

th:first-child,
td:first-child {
  width: 82%;
  text-align: left;
}
th:last-child,
td:last-child {
  width: 50%;
  text-align: right;
}

tr:hover {
    background-color: var(--gray-400);
    transition: 0.2s ease-in;
}

@media (max-width: 768px) {
    .statsTable{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
    .statsTable .stat {
        width: 100%;
        margin-bottom: 12px;
    }
    .statsTable .stat table{
        width: 100%;
    }
}