.header {
  background-color: var(--gray-900);
  color: var(--text-color);
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  position: relative;
}

.sign-buttons button,
.user-info button,
.header .theme-toggle {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  color: var(--text-color);
  line-height: 0.5;
}

.sign-buttons {
  display: flex;
  gap: 8px;
}

.user-info {
  width: auto;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  margin-right: 15px;
}

.user-info .avatar, .drawer-avatar {
  border-radius: 50%;
  object-fit: cover;
}



.burger {
  background: transparent;
  border: none;
  font-size: 18px;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  background-color: rgba(27, 32, 55, 0.5);
  z-index: 999;
}

.drawer {
  display: none;
  height: 100%;
  width: 76.8%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--gray-700);
  border-left: 2px solid var(--gray-400);
  z-index: 1000;
}

.drawer button {
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--gray-900);
  text-align: left;
  padding: 4px;
  margin: 10px 0 0 10px;
  width: calc(100% - 20px);
  height: 44px;
}

.drawer-header button {
  width: auto;
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 0.5;
}

.drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  padding: 6px 12px;
  gap: 10px;
  background-color: var(--gray-900);
  width: 100%;
}

.drawer-user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.drawer.open {
  display: flex;

}

.drawer>button{
  padding-left: 12px;
}

.profile-link{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}


@media (max-width: 768px) {
  .header {
    height: 36px;
    padding: 6px 12px;
  }

  .header .logo {
    width: 48px;
    height: 24px;
  }

  .sign-buttons,
  .user-info {
    display: none;
  }

  .burger {
    display: block;
  }
}
