.stats-page{
  width: 100%;
  padding: 0 17%;
}

.general-stats{
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 32px;
}

.formated-stats{
  width: 100%;
}

.general-stats .stat{
  width: 31.5%;
  min-height: 172px;
  background-color: var(--gray-900);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--gray-400);
}

.general-stats .stat p{
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.general-stats .stat h1{
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}
.general-stats .stat small{
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-100);
}

.view{
  width: 237px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 24px 0;
  font-size: 16px;
  font-weight: 500;
}

.tabSwitch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.tabSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-900);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--accent);
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.16);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

@media (max-width: 768px) {
  .general-stats{
    flex-direction: column;
    padding-right: 12px;
    max-width: 100%;
  }
  .general-stats .stat{
    width: 100%;
  }
  .stats{
    padding: 0 12px;
  }
  .stats-page{
    padding: 0;
  }
}