.lang-toggler{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lang-toggler button{
    background-color: transparent;
    border: none;
    outline: none;
    font: inherit;
    color: var(--text-color);
    cursor: pointer;
}
.lang-toggler button.active{
    color: var(--accent);
}