.authPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    font-family: inherit;
    width: 375px;
    max-width: 430px;
    margin: auto;
}

.authBox {
    border: none;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.mainInfo {
    height: 70px;
    margin-bottom: 18px;
}

.mainInfoTitle {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.mainInfoText {
    font-size: 14px;
    text-align: center;
}

.label {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color);
}

.button {
    height: 44px;
    background-color: var(--accent);
    color: var(--text-color);
    border: none;
    padding: 12px 48px;
    margin-top: 18px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.button:hover {
    background-color: var(--btn-hover);
    transition: 0.2s ease-in;
}

.smallText {
    font-size: 12px;
    text-align: center;
    color: var(--gray-100);
    margin-top: 18px;
}

.smallText span {
    color: var(--text-color);
    cursor: pointer;
}

.switchLink {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    margin-top: 18px;
}

.switchLink span {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordInput {
  width: 100%;
  padding-right: 30px !important;
  box-sizing: border-box;
}

.eyeButton {
  position: absolute;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.eyeButton svg path {
  fill: var(--idle-small-text);
}

@media (max-width: 768px) {
    .authPage {
        width: 90%;
    }

    .button {
        height: 44px;
    }
}
